# 1. 공공데이터 상권정보 분석
* 국가중점데이터인 상권정보 
* 상가(상권)정보_의료기관_201909 다운로드

## 1.1 라이브러리불러오기

In [4]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
plt.rc('font', family = 'AppleGothic')
plt.rc('axes', unicode_minus = False)
from IPython.display import set_matplotlib_formats
set_matplotlib_formats('retina')

/var/folders/z_/klqlrq151nv7wlzdmp2krt8h0000gn/T/ipykernel_5577/3300065257.py:8: DeprecationWarning: `set_matplotlib_formats` is deprecated since IPython 7.23, directly use `matplotlib_inline.backend_inline.set_matplotlib_formats()`
  set_matplotlib_formats('retina')

## 1.2 데이터 로드

In [12]:
df = pd.read_csv('./Data/소상공인시장진흥공단_상가업소정보_의료기관_201909.csv')
df.head()

/var/folders/z_/klqlrq151nv7wlzdmp2krt8h0000gn/T/ipykernel_5577/2406142718.py:1: DtypeWarning: Columns (35) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('./Data/소상공인시장진흥공단_상가업소정보_의료기관_201909.csv')

,상가업소번호,상호명,지점명,상권업종대분류코드,상권업종대분류명,상권업종중분류코드,상권업종중분류명,상권업종소분류코드,상권업종소분류명,표준산업분류코드,...,건물관리번호,건물명,도로명주소,구우편번호,신우편번호,동정보,층정보,호정보,경도,위도
0,19956873,하나산부인과,NaN,S,의료,S01,병원,S01B10,산부인과,Q86201,...,4127310900110810000010857,산호한양아파트,경기도 안산시 단원구 달미로 10,425764.0,15236.0,NaN,NaN,NaN,126.814295,37.336344
1,20024149,타워광명내과의원,NaN,S,의료,S01,병원,S01B07,내과/외과,Q86201,...,1168011800104670014000001,NaN,서울특별시 강남구 언주로30길 39,135270.0,6292.0,NaN,4.0,NaN,127.053198,37.488742
2,20152277,조정현신경외과의원,NaN,S,의료,S01,병원,S01B15,신경외과,Q86201,...,4139013200117400001017064,한라프라자,경기도 시흥시 중심상가로 178,429450.0,15066.0,NaN,NaN,NaN,126.734841,37.344955
3,20350610,한귀원정신과의원,NaN,S,의료,S01,병원,S01B99,기타병원,NaN,...,2650010400100740001009932,NaN,부산광역시 수영구 수영로 688,613100.0,48266.0,NaN,5.0,NaN,129.115438,35.166872
4,20364049,더블유스토어수지점,수지점,S,의료,S02,약국/한약방,S02A01,약국,G47811,...,4146510100107120002026238,NaN,경기도 용인시 수지구 문정로 32,448170.0,16837.0,NaN,1.0,NaN,127.095522,37.323528

In [9]:
df.shape

(91335, 39)

## 1.3 데이터 요약하기

In [14]:
# 데이터 요약정보
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 91335 entries, 0 to 91334
Data columns (total 39 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   상가업소번호     91335 non-null  int64
 1   상호명        91335 non-null  object
 2   지점명        1346 non-null   object
 3   상권업종대분류코드  91335 non-null  object
 4   상권업종대분류명   91335 non-null  object
 5   상권업종중분류코드  91335 non-null  object
 6   상권업종중분류명   91335 non-null  object
 7   상권업종소분류코드  91335 non-null  object
 8   상권업종소분류명   91335 non-null  object
 9   표준산업분류코드   86413 non-null  object
 10  표준산업분류명    86413 non-null  object
 11  시도코드       90956 non-null  float64
 12  시도명        90956 non-null  object
 13  시군구코드      90956 non-null  float64
 14  시군구명       90956 non-null  object
 15  행정동코드      91335 non-null  int64
 16  행정동명       90956 non-null  object
 17  법정동코드      91280 non-null  float64
 18  법정동명       91280 non-null  object
 19  지번코드       91335 non-null  int64
 20  대지구분코드     91335 non-null  int64
 21  대지구분명      91335 non-null  object
 22  지번본번지      91335 non-null  int64
 23  지번부번지      72079 non-null  float64
 24  지번주소       91335 non-null  object
 25  도로명코드      91335 non-null  int64
 26  도로명        91335 non-null  object
 27  건물본번지      91335 non-null  int64
 28  건물부번지      10604 non-null  float64
 29  건물관리번호     91335 non-null  object
 30  건물명        46453 non-null  object
 31  도로명주소      91335 non-null  object
 32  구우편번호      91323 non-null  float64
 33  신우편번호      91333 non-null  float64
 34  동정보        7406 non-null   object
 35  층정보        44044 non-null  object
 36  호정보        15551 non-null  object
 37  경도         91335 non-null  float64
 38  위도         91335 non-null  float64
dtypes: float64(9), int64(7), object(23)
memory usage: 27.2+ MB